[submodule ".minecraft/scripts/grassUtils"]
	path = .minecraft/scripts/grassUtils
	url = https://github.com/ProjectHDS/GrassUtils
[submodule ".minecraft/oresources"]
	path = .minecraft/oresources
	url = https://github.com/ProjectHDS/Hermes
