# Configuration file

general {
    # A transparent box behind the text [default: false]
    B:"Enable Text Background"=false

    # This is the pool of tips that will be displayed during the world loading screen [default: ]
    S:"Tip Lang Keys" <
        herodotus.tips.1
        herodotus.tips.2
        herodotus.tips.3
        herodotus.tips.4
        herodotus.tips.5
        herodotus.tips.6
        herodotus.tips.7
        herodotus.tips.8
        herodotus.tips.9
        herodotus.tips.10
        herodotus.tips.11
        herodotus.tips.12
        herodotus.tips.13
        herodotus.tips.14
        herodotus.tips.15
        herodotus.tips.16
        herodotus.tips.17
        herodotus.tips.18
        herodotus.tips.19
        herodotus.tips.20
        herodotus.tips.21
        herodotus.tips.22
        herodotus.tips.23
        herodotus.tips.24
        herodotus.tips.25
        herodotus.tips.26
        herodotus.tips.27
        herodotus.tips.28
        herodotus.tips.29
        herodotus.tips.30
        herodotus.tips.31
        herodotus.tips.32
        herodotus.tips.33
        herodotus.tips.34
        herodotus.tips.35
        herodotus.tips.36
        herodotus.tips.37
        herodotus.tips.38
        herodotus.tips.39
        herodotus.tips.40
        herodotus.tips.41
        herodotus.tips.42
        herodotus.tips.43
        herodotus.tips.44
        herodotus.tips.45
        herodotus.tips.46
        herodotus.tips.47
        herodotus.tips.48
        herodotus.tips.49
        herodotus.tips.50
        herodotus.tips.51
        herodotus.tips.52
        herodotus.tips.53
        herodotus.tips.54
        herodotus.tips.55
        herodotus.tips.56
        herodotus.tips.57
        herodotus.tips.58
        herodotus.tips.59
        herodotus.tips.60
        herodotus.tips.61
        herodotus.tips.62
        herodotus.tips.63
        herodotus.tips.64
        herodotus.tips.65
        herodotus.tips.66
        herodotus.tips.67
        herodotus.tips.68
        herodotus.tips.69
        herodotus.tips.70
        herodotus.tips.71
        herodotus.tips.72
        herodotus.tips.73
        herodotus.tips.74
        herodotus.tips.75
        herodotus.tips.76
        herodotus.tips.77
        herodotus.tips.78
        herodotus.tips.79
        herodotus.tips.80
        herodotus.tips.81
        herodotus.tips.82
        herodotus.tips.83
        herodotus.tips.84
        herodotus.tips.85
        herodotus.tips.86
        herodotus.tips.87
        herodotus.tips.88
        herodotus.tips.89
        herodotus.tips.90
        herodotus.tips.91
        herodotus.tips.92
        herodotus.tips.93
        herodotus.tips.94
        herodotus.tips.95
        herodotus.tips.96
        herodotus.tips.97
        herodotus.tips.98
        herodotus.tips.99
        herodotus.tips.100
        herodotus.tips.101
        herodotus.tips.102
        herodotus.tips.103
        herodotus.tips.104
        herodotus.tips.105
        herodotus.tips.106
        herodotus.tips.107
        herodotus.tips.108
        herodotus.tips.109
        herodotus.tips.110
        herodotus.tips.111
        herodotus.tips.112
        herodotus.tips.113
        herodotus.tips.114
        herodotus.tips.115
        herodotus.tips.116
        herodotus.tips.117
        herodotus.tips.118
        herodotus.tips.119
        herodotus.tips.120
        herodotus.tips.121
        herodotus.tips.122
        herodotus.tips.123
        herodotus.tips.124
        herodotus.tips.125
        herodotus.tips.126
        herodotus.tips.127
        herodotus.tips.128
        herodotus.tips.129
     >

    # This is a map that determines the wait time for tips in different languages
    # For example, en_us:0.1 refers to "wait 0.1s for each character for tips in English" [default: [en_us:0.1]]
    S:"Tip Wait Time" <
        en_us:0.5
        zh_cn:0.5
     >
}


