# Configuration file

general {
    I:BlockUnstableLeadDimFragmentActivationDelay=5
    I:DebounceIntervalForQuartz=1
    I:MaxBurstUpdatesForQuartz=1
    I:MaxUpdatesForQuartz=52
    I:MinUpdatesForQuartz=42
    B:OverloadExplosionBreakBlock=false
    I:PowderDropCountForQuartz=7
    I:RateCheckIntervalForQuartz=20
    I:RequiredRandomTicksForQuartz=2
    I:UpdateRateThresholdForQuartz=5
    B:debug=false
    B:nullpinterWelcomeEnabled=true
}


