# Configuration file

general {
    # Use this to enable multi-part download [default: true]
    B:"Enable Multi-part Download"=true

    # Args for Java 21 jvm [default: -Xmx4g -Xms4g]
    S:"JVM Arguments"=-Xmx4g -Xms4g

    # Path to javaw.exe or java binary [default: java]
    S:"Java Path"=C:/Program Files/Java/zulu21.32.17-ca-jdk21.0.2-win_x64/bin/javaw.exe

    # Library path, you may point it to launcher's library path for re-using, empty for default relauncher/ [default: ]
    S:"Library Path"=cleanroom

    # Proxy address [default: ]
    S:"Proxy Address"=

    # Proxy Port [range: 0 ~ 65535, default: 0]
    I:"Proxy Port"=0

    # Put library files under directory of their group name [default: true]
    B:"Respect Library Structure"=true

    # Search for relauncher/Cleanroom-MMC-instance-*.zip and install from there [default: true]
    B:"Use Local MMC Pack"=false
}


